<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>App</title>
        <link rel="stylesheet" href="{{app.request.getBaseURL()}}/assets/main.css">
    </head>
    <body>
        {% include 'templates/partials/_navigation.twig' %}
        {% include 'templates/partials/_flash.twig' %}
        {% block content %}{% endblock %}
        <script src="{{app.request.getBaseURL()}}/assets/bundle.js"></script>
    </body>
</html>